<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>关于我们</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="shortcut icon" type="image/png" href="favicon.png"/>
		<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
		<link rel="stylesheet" href="css/font-awesome.css" type="text/css" />
		<link rel="stylesheet" href="css/style.css" type="text/css" />
	</head>
	<body>
		<div id="page-preloader"><span class="spinner"></span></div>
		<header id="header" class="clear">
			<a href="index.html" class="logo">鸿雁化工</a>
			<div class="header-right">
				<div class="header-search">
					<i class="fa fa-search" aria-hidden="true"></i>
				</div>
			</div>
			<nav class="navbar">
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav menu">
						<li class="dropdown"><a href="index.html">首页</a></li>
						<li><a href="blog.html">供应</a></li>
						<li><a href="gallery.html">资讯</a></li>
						<li><a href="about_us.html">关于我们</a></li>
						<li><a href="contacts.html">联系方式</a></li>
					</ul>
				</div>
			</nav>
		</header>
		<!-- header -->
		<div class="breadcrumbs-wrapper">
			<ul class="breadcrumbs">
				<li><a href="index.html" class="home"><i class="fa fa-home" aria-hidden="true"></i></a></li>
				<li><a>关于我们</a></li>
			</ul>
		</div>
		<!-- breadcrumbs-wrapper -->
		<section class="content-wrapper">
			<div class="container">
				<div class="title">
					<h1>关于我们</h1>
				</div>
				<p>济宁鸿雁化工有限公司，坐落于山东省济宁市</p>
				<p>公司主营产品为苯</p>
				<div class="clear team-wrap">
					<h3>员工介绍</h3>
					<div class="row">
						<article class="col-md-4 team-item">
							<div class="img">
								<img src="img/img10.jpg" alt=""/>
							</div>
							<div class="team-text">
								<h4>杨海燕</h4>
								<p>公司经理，负责销售运营</p>
								<div class="spec">经理</div>
								<ul class="social">
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</article>
						<article class="col-md-4 team-item">
							<div class="img">
								<img src="img/img9.jpg" alt=""/>
							</div>
							<div class="team-text">
								<h4>陈 润</h4>
								<p>公司会计，负责报表统计，开发票</p>
								<div class="spec">会计</div>
								<ul class="social">
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</article>
						<article class="col-md-4 team-item">
							<div class="img">
								<img src="img/img11.jpg" alt=""/>
							</div>
							<div class="team-text">
								<h4>邱 凤</h4>
								<p>Quisque vulputate facilisis quam, a fringilla purus varius at. Aliquam ut sodales quam, imperdiet condimentum elit. Fusce ac pharetra augue. </p>
								<div class="spec">销售</div>
								<ul class="social">
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</article>
					</div>
				</div>
			</div>
		</section>
		<!-- content-wrapper -->
		<section id="testimonials">
			<h3>客户反馈</h3>
			<div class="container">
				<div class="swiper-container" id="testimonials-carousel">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="testimonials-block">
								<div class="img">
									<img src="img/img10.jpg" alt=""/>
								</div>
								<p>Aliquam vitae lacinia tortor. Cras consequat erat nunc, a placerat massa rhoncus accumsan. </p>
								<h6>- Alisa Jobs</h6>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="testimonials-block">
								<div class="img">
									<img src="img/img11.jpg" alt=""/>
								</div>
								<p>Aliquam vitae lacinia tortor. Cras consequat erat nunc, a placerat massa rhoncus accumsan. </p>
								<h6>- Alisa Jobs</h6>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="testimonials-block">
								<div class="img">
									<img src="img/img9.jpg" alt=""/>
								</div>
								<p>Aliquam vitae lacinia tortor. Cras consequat erat nunc, a placerat massa rhoncus accumsan. </p>
								<h6>- Alisa Jobs</h6>
							</div>
						</div>
					</div>
					<div class="testimonials-pagination"></div>
				</div>
			</div>
		</section>
		<!-- testimonials -->
		<footer id="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<a href="index.html" class="logo">Matsumari</a>
						<p>Etiam dictum purus et leo laoreet, vel congue diam pulvinar. Suspendisse elementum dictum lacus id ultricies. In hac habitasse platea dictumst</p>
						<div class="copy">Copyright &copy; 2017.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></div>
					</div>
					<div class="col-md-3">
						<h6>Latest news</h6>
						<div class="news-footer">
							<a href="blog_inner.html">Praesent ullamcorper sodales</a>
							<div class="date">14.11.2016</div>
						</div>
						<div class="news-footer">
							<a href="blog_inner.html">Fusce sollicitudin felis vel</a>
							<div class="date">14.11.2016</div>
						</div>
						<div class="news-footer">
							<a href="blog_inner.html">Phasellus vitae dictum urna</a>
							<div class="date">14.11.2016</div>
						</div>
					</div>
					<div class="col-md-2">
						<h6>Best Posts</h6>
						<ul class="footer-menu">
							<li><a href="about_us.html">About us</a></li>
							<li><a href="">Sitemap</a></li>
							<li><a href="contacts.html">Contacts</a></li>
							<li><a href="blog.html">Blog</a></li>
							<li><a href="gallery.html">Gallery</a></li>
						</ul>
					</div>
					<div class="col-md-3">
						<h6>Contacts</h6>
						<address>Duis volutpat et magna quis congue. Nullam non velit porta, vulputate odio tempus, volutpat nibh. Mauris dictum dolor non interdum auctor</address>
						<div class="footer-phone"><i class="fa fa-phone" aria-hidden="true"></i> +1 (123) 456 78 90</div>
					</div>
				</div>
				<ul class="social">
					<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
				</ul>
			</div>
		</footer>
		<!-- footer -->
		<!-- scripts -->	
		<script src="js/lib/jquery.js"></script>
		<script src="js/lib/bootstrap.min.js"></script>
		<script src="js/lib/lightbox.min.js"></script>
		<script src="js/lib/shuffle.js"></script>	
		<script src="js/lib/swiper.min.js"></script>
		<script src="js/lib/waypoints.min.js"></script>		
		<script src="js/script.js"></script>
	</body>
</html>
